.movie {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: 200px;
  height: 300px;
  transition-duration: 0.5s;
  overflow: hidden;
  cursor: pointer;
  .poster {
    transition: transform 2s;
    &:hover {
      transform: scale(1.5);
    }
  }
  &:hover {
    transition-delay: 0.5s;
    width: 500px;
    height: 500px;
    background-color: #181818;

    .movie-details {
      .movie-actions {
        transition-delay: 0.5s;
        opacity: 1;
      }
    }
  }
  .movie-details {
    color: white;
    text-decoration: none;
    cursor: pointer;

    display: block;
    position: relative;
    z-index: 2;

    .movie-actions {
      transition-duration: 0.5s;
      opacity: 0;
    }
  }
}

.movie-info {
  font-weight: 600;
  &.movie-info > * {
    padding-right: 10px;
  }
}
.movie-actions {
  &.movie-actions > * {
    border: 3px solid;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.3);

    padding: 12px;
    margin-bottom: 8px;
    &:hover {
      border-color: rgba(255, 255, 255, 1);
    }
  }
}
.play {
  background-color: #fff;
  color: #000;
  &:hover {
    opacity: 0.8;
  }
}

.square-border {
  border: 1px solid;

  padding: 1px 8px;
  margin-right: 10px;
}
