.header {
  display: flex;
  align-items: center;

  color: #e5e5e5 !important;
  margin-bottom: 30px;
  .active {
    color: #fff !important;
    font-weight: 600;
  }

  a {
    text-decoration: none;
  }
  a:visited {
    color: #e5e5e5 !important;
  }

  .header-pages {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding-left: 10px;
  }
  .header-pages > div {
    padding: 0 12px;
  }
  .utils,
  .user {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    right: 0;
  }
  .utils > * {
    margin: 0 12px;
  }
  .down-array {
    transition: all 0.25s ease-in-out;
  }
  .user:hover {
    .down-array {
      transform: rotate(180deg);
      transition: all 0.25s ease-in-out;
    }
  }
}
