@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
  height: 100%;
}

body {
  background: #141414;

  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;

  padding: 0 2em;
  color: #e5e5e5;
}

/* Hiding the scroll bars */
::-webkit-scrollbar {
  display: none;
}